body {
    background-color: #f2f2f2 !important;
}
#marginTopHome{
    margin-top: 5%;
    text-align: center;
}
#lgoGit{
    width: 50%;
    margin: 2%;
}
#inputUser{
    width: 25%;
    margin: 2%;
}
#centerCardUpdate{
    text-align: center;
}
#cardMarginItem{
    margin: 2%;
}